:root{
    --black: #0B090A;
    --faintGrey: #161A1D;
    --burgundy: #660708;
    --brighterBurgundy: #A4161A;
    --red: #BA181B;
    --hotRed: #E5383B;
    --Grey: #B1A7A6;
    --octonary: #D3D3D3;
    --beige: #F5F3F4;
    --white: #FFFFFF;
}